@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Outfit:wght@400;500;600;700;800;900&family=Architects+Daughter&family=Kalam:wght@300;400;700&family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F4F4F4;
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight text-primary-dark;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer components {
  .btn-primary {
    @apply px-8 py-3 bg-primary-light text-white rounded-full font-bold hover:bg-primary transition-all duration-300 transform hover:scale-105 active:scale-95 flex items-center justify-center gap-2;
  }

  .container-custom {
    @apply max-w-7xl 2xl:max-w-[1600px] mx-auto px-4 sm:px-6 lg:px-8 2xl:px-12;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}